h1{
    border: 1px solid black;
    padding-left: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

p{
    border: 10px solid rgb(251, 255, 0);
    margin-left: 2.5%;
    margin-top: 80px;
    padding-top: 10px;
    padding-left: 10px;
    height:  200px;
    width:  95%;
    background-color: aqua;
    }
    img{
        margin-left: 40%;
    }
    body{
        background-color: rgba(128, 122, 122, 0.815);
    }